
html {
	font-family: 'Lato', sans-serif;	
}

a {
	text-decoration: none;
	color: #484848;
}

a:hover {
	color: black;
}

p {
	color: #282828;	
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

.site-grid {
	display: grid;
	grid-template-columns: 1fr 4fr;	
	margin: 0% 5% 0% 5%;
	position: relative;
	z-index: 0;
}

.responsive-grid {
	margin: 0% 5% 0% 5%;
}

.mobile-header {
	display: none;
}

.responsive-menu {
	display: none;	
	height: 100%;
	width: 100%;
	z-index: 1;
}

.responsive-grid {
	display: grid;
	grid-template-rows: 100px 1fr 100px;	
}

.responsive-social-links a {
	margin: 40px;
}

.responsive-nav {	
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}

.responsive-page-title, .responsive-list-title, .responsive-project-title {
	padding: 0 0 30px;
}

.sidebar-logo {
	padding-top: 60px;
	padding-bottom: 50px;
	font-weight: 700;
}

.sidebar-list-title {
	padding-bottom: 12px;
}

.sidebar-projects-list {
	padding-top: 30px;
	padding-bottom: 30px;
}

.project-title, .page-title {
	padding-bottom: 5px;
}

.project-about h3 {
	text-decoration: underline;
}

.social-links a {
	margin-right: 10px;
}

.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1%;
	padding-top: 60px;
}

.project-container, .page-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 60px;
}

.about-description, .project-description {
	margin-top: 40px;
	width: 60%;
	line-height: 1.8em;	
}

.page-heading, .project-heading {
	font-weight: 700;
}

.responsive-list-title {
	font-weight: 700;
}

.project-card {
	text-align: center;	
}

.project-card img {
	width: 100%;
	height: auto;
}

.project-card h3 {
	margin: 20px 0px 10px 0px;
	font-weight: 700;
}

.project-about {
	margin-bottom: 50px;
}

.contact-info, .contact-form {
	margin-top: 40px;	
	line-height: 1.8em;	
}

.contact-form {
	margin: 20px auto 40px auto;
	width: 40%;
}

.contact-form {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

.contact-form button {
	margin-top: 10px;
	width: 80px;
}

.form-input {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-input input, .form-input textarea {
	padding: 5px;
	width: 100%;
}

footer {
	grid-column-start: 2;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
}

@media only screen and (max-width: 850px) {
    
    .mobile-header, .responsive-grid header {
    	padding-top: 30px;    	
    }

    .bars-click-area, .times-click-area {
    	height: 50px;
    	width: 50px;    	
    }

    .site-grid {
		grid-template-columns: 1fr;
    }

    .sidebar-content {
    	display: none;
    }

    .projects-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1%;
	}

	footer {
		grid-column-start: 1;
	}
}

@media only screen and (max-width: 540px) {
    
    .projects-grid {
		display: grid;
		grid-template-columns: 1fr;		
	}

	.project-card {
		width: 100%;
	}
}